html {
  background-color: #29a8ed;
  
}
.menu_home {
    position: absolute;
    /* margin-top: -20%; */
    margin-left: 0;
    overflow: hidden;
    background-size: auto;
    display: block;
}
.about_page {
  position: absolute;
  background-color: #ed2929;
  
}

h1 {
    display: block;
    font-size: 3em;
    margin-block-start: 0.40em;
    margin-block-end: 0.67em;
    margin-inline-start: 7%;
    margin-inline-end: 0px;
    font-weight: bold;
    color: white;
    margin-left: 6%;
    margin-top: 1%;
    
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}


.side_menu {
  position: absolute;
  margin-top: -60px;
  padding: 0px;
  color: red;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 .ho_me {
  position: absolute;
  margin-left: 27em;
  font-size: 140%;
  
  

}
.ab_out {
  position: absolute;
  margin-left:33em;
  font-size: 140%;
}

.cer_tificate {
  position: absolute;
  margin-left:39em;
  font-size: 140%;
}
.pro_ject {
  position: absolute;
  margin-left:47em;
  font-size: 140%;
}
.con_tact {
  position: absolute;
  margin-left:53em;
  font-size: 140%;
  
}

img{
  height: 20%;
  width: 20%;
  margin-left: 10%;
}

.na_me{
  position: absolute;
  font-size: 3em;
  margin-left: 16.9em;
  margin-top: -29%;
  color: white;
  font-family: monospace;
  font-weight:1000;
}
*{
  padding: 0;
  
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
@import url("//fonts.googleapis.com/css?family=Pacifico&text=Pure");
@import url("//fonts.googleapis.com/css?family=Roboto:700&text=css");
@import url("//fonts.googleapis.com/css?family=Kaushan+Script&text=!");



.stage {
  height: 400px;
  width: 500px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 2px;
  bottom: 0;
  left: 0;
  perspective: 9999px;
  transform-style: preserve-3d;
}

.layer {
  width: 10%;
  height: 10%;
  position: absolute;
  transform-style: preserve-3d;
  animation: ಠ_ಠ 4s infinite alternate ease-in-out -7.5s;
  animation-fill-mode: forwards;
  transform: rotateY(40deg) rotateX(33deg) translateZ(0);
}

.layer:after {
  font: 50px/0.65 "Pacifico", "Kaushan Script", Futura, "Roboto", "Trebuchet MS", Helvetica, sans-serif;
  content: "Python Fullstack Developer";
  white-space: pre;
  margin-left: 3em;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 240px;
  color: whitesmoke;
  letter-spacing: -2px;
  text-shadow: 4px 0 10px rgba(0, 0, 0, 0.13);
}

.layer:nth-child(1):after {
  transform: translateZ(0px);
}

.layer:nth-child(2):after {
  transform: translateZ(-1.5px);
}

.layer:nth-child(3):after {
  transform: translateZ(-3px);
}

.layer:nth-child(4):after {
  transform: translateZ(-4.5px);
}

.layer:nth-child(5):after {
  transform: translateZ(-6px);
}

.layer:nth-child(6):after {
  transform: translateZ(-7.5px);
}

.layer:nth-child(7):after {
  transform: translateZ(-9px);
}

.layer:nth-child(8):after {
  transform: translateZ(-10.5px);
}

.layer:nth-child(9):after {
  transform: translateZ(-12px);
}

.layer:nth-child(10):after {
  transform: translateZ(-13.5px);
}

.layer:nth-child(11):after {
  transform: translateZ(-15px);
}

.layer:nth-child(12):after {
  transform: translateZ(-16.5px);
}

.layer:nth-child(13):after {
  transform: translateZ(-18px);
}

.layer:nth-child(14):after {
  transform: translateZ(-19.5px);
}

.layer:nth-child(15):after {
  transform: translateZ(-21px);
}

.layer:nth-child(16):after {
  transform: translateZ(-22.5px);
}

.layer:nth-child(17):after {
  transform: translateZ(-24px);
}

.layer:nth-child(18):after {
  transform: translateZ(-25.5px);
}

.layer:nth-child(19):after {
  transform: translateZ(-27px);
}

.layer:nth-child(20):after {
  transform: translateZ(-28.5px);
}

.layer:nth-child(n+10):after {
  -webkit-text-stroke: 3px rgba(0, 0, 0, 0.25);
}

.layer:nth-child(n+11):after {
  -webkit-text-stroke: 15px black;
  text-shadow: 6px 0 6px #00366b, 5px 5px 5px #002951, 0 6px 6px #00366b;
}

.layer:nth-child(n+12):after {
  -webkit-text-stroke: 15px rgb(255, 0, 149);
}

.layer:last-child:after {
  -webkit-text-stroke: 17px rgba(0, 0, 0, 0.1);
}

.layer:first-child:after {
  color: #fff;
  text-shadow: none;
}

@keyframes ಠ_ಠ {
  100% {
    transform: rotateY(-40deg) rotateX(-43deg);
  }
}
a.active,a:hover{
  background: rgb(247, 243, 243);
  transition: .4s;
  padding: 7px 13px;
  border-radius: 3px;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;

}
@media ( max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;

  }
  ul li a {
    font-size:16px;

  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    
    top: 80px;
    left: -100;
    text-align: center;
    transition: all .3s;
 }
 ul li {
  display: block;
  margin: 50px 0;
  line-height: 30px;
  
 }
 ul li a{
  font-size: 20px;

 }
 a:hover,a.active{
  background-color: none;
  color: green;
 }
 #check:checked ~ ul{
  left:0;
 }
}

@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');



.container {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 85%;
  top: 446px;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  width: 180px;
  height: 60px;
  position: absolute;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid rgb(91, 241, 191);
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #f01569;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: rgb(212, 12, 12);
  font-size: 19px;
  font-weight: 700;
}

.social_media{
  position: absolute;
  margin-left: 60%;
  margin-top: 35em;
}
.social_media1{
  position: absolute;
  margin-left: 90%;
}
.social_media2{
  position: absolute;
  margin-left: 80%;
  margin-top: 35em;
  
}
.social_media0{
  position: absolute;
  padding: 0%;
  margin-top: 35em;
  margin-left: 70%;
}


@import url("https://fonts.googleapis.com/css?family=Raleway");

:root {
  --glow-color: hsl(315, 22%, 96%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  position: absolute;
  height: 0%;
  width: 100%;
  margin-left: 0%;
  
}


.glowing-btn {
  position: relative;
  color: var(--glow-color);
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.20em solid var(--glow-color);
  border-radius: 0.45em;
  background: rgb(4, 214, 221);
  perspective: 2em;
  font-family: "Raleway", sans-serif;
  font-size: 1.7em;
  font-weight: 900;
  letter-spacing: 0.5em;

  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  animation: border-flicker 2s linear infinite;
}

.glowing-txt {
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
  animation: text-flicker 3s linear infinite;
}

.faulty-letter {
  opacity: 0.5;
  animation: faulty-flicker 2s linear infinite;
}

.glowing-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: var(--glow-color);
  pointer-events: none;
}

.glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  transition: opacity 100ms linear;
}

.glowing-btn:hover {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  animation: none;
}

.glowing-btn:hover .glowing-txt {
  animation: none;
}

.glowing-btn:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}

.glowing-btn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

.glowing-btn:hover:after {
  opacity: 1;
}

@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }

  87% {
    opacity: 1;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .glowing-btn{
    font-size: 1em;
  }
}


